*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: #333;
    color: white;
    padding: 30px;
    top: 60px;
    z-index: 1000;
    text-transform: uppercase;
  
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}

.first_nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 40px;
}

.second_nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name{
  
    padding: 20px;
   background-color: #f7f7f7;
    min-height: 300px;

}
.username{
    font-size: 1.5rem;
    margin: 10px 0;
}
h1, p{
    font-size: 2rem;
    color: navy;
    
    padding:0 30px;
    line-height: 1.4;
    
}
.section1{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex:1;
    align-items: flex-start;
    align-items: center;
    
}
.blog-image img{
   
    border-radius: 10px;
}
.actions{
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
    padding: 0 30px;

}
button{
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
}
button:hover {
    background-color: #0056b3;
}
.section2{
    display: flex;
    flex-wrap: wrap;
    flex:1;
    align-items: center;
}


/* new */
.section1, .section2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row; 
    padding: 40px 0;
}


.section2-item img {
    max-width: 100%;
    border-radius: 10px;
}
.section2-item h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
    color: burlywood;
}
.section2-item p {
    font-size: 2rem;
    line-height: 1.5;
    max-width: 600px;
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-left: 40px;
}
/* main */
.main{
    padding:  20px;
    width: 100%;
    background-color: #f7f7f7;
    margin:  30px auto;
}
.footer-content {
    color: white;
    padding: 20px;
    text-align: center;
}
.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
  
}
.social-icons a {
    text-decoration: none;
    font-size: 1.5rem;
    
}
.fa-facebook, .fa-twitter, .fa-instagram {
    transition: transform 0.3s ease;
}

.fa-facebook:hover, .fa-twitter:hover, .fa-instagram:hover {
    transform: scale(1.15);
}
@media  (max-width:675px) {
    
    .username h1, .username p {
        text-align: center;
        padding: 5px 20px;
        margin:0 10px;
        width: 80%;
    }
    .actions {
       
        align-items: center;
        justify-content: center;
    }
    .blog-image img {
        width: 90%;
        height: auto;
        margin: 20px ;
    }
    .section1, .section2 {
        flex-direction: column;
        align-items: center;
    }
    .section2-item {
        width: 100%;
        margin-bottom: 20px;
    }
    .section2-item img {
        width: 100%;
        height: auto;
    }
    .section2-item h2, .section2-item p {
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }
    .section2-item p {
        margin-left: 0;
        padding: 0 20px;
            
    }
    /* .section2-item h2 {
        margin: 0 auto;
        padding: 0 20px;
    } */
     footer {
        padding: 20px;
        text-align: center;
     }
    
}
