*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: #333;
    color: white;
    padding: 30px;
    top: 60px;
    z-index: 1000;
    text-transform: uppercase;
  
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}

.first_nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 40px;
}

.second_nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}