*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
h2{
    font-size: 24px;
    margin-bottom: 10px;
}
section{
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
/* THEME VARIABLES */
:root {
    --bg: #ffffff;
    --text: #111;
    --card-bg: #f8f9fa;
    --btn-bg: #111;
    --btn-text: #fff;
}

[data-theme="dark"] {
    --bg: #0d1117;
    --text: #e6edf3;
    --card-bg: #161b22;
    --btn-bg: #e6edf3;
    --btn-text: #0d1117;
}
